<!-- 使用 gitcoment -->
<div id="gitment-comment">
    <%- partial('_widget/comment/' + theme.comment.use + '/main') %>
</div>
<style>
    #gitment-comment{
        background-color: #eee;
        padding: 2pc;
    }
</style>
<link rel="stylesheet" href="https://imsun.github.io/gitment/style/default.css">
<script src="https://imsun.github.io/gitment/dist/gitment.browser.js"></script>
<script>
    var gitment = new Gitment({
        //id: '页面 ID', // 可选。默认为 location.href
        owner: '<%= theme.comment.gitment_owner %>',
        repo: '<%= theme.comment.gitment_repo %>',
        oauth: {
            client_id: '<%= theme.comment.gitment_client_id %>',
            client_secret: '<%= theme.comment.gitment_client_secret %>',
        },
    })
    gitment.render('container')
</script>