<div class="card">
    <div class="card-content">
        <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="<%- url_for('/categories') %>"><%= _p('common.category', Infinity) %></a></li>
            <% page.parents.forEach(category => { %>
            <li><a href="<%- url_for(category.path) %>"><%= category.name %></a></li>
            <% }) %>
            <li class="is-active"><a href="#" aria-current="page"><%= page.category %></a></li>
        </ul>
        </nav>
    </div>
</div>
<%- partial('index', { page }) %>