<%- partial('_partial/header', {
    title: locals.title || theme.categories_title,
    hdClass: 'categories-header'
}) %>
<div class="container body-wrap fade">
    <%
        if(is_category()) { %>
            <div class="waterfall">
          <% page.posts.each(function(post){ %>

            <%- partial('_partial/archive', {post: post, date_format: config.date_format}) %>

        <% }) %>
            </div>
        <% } else {
            site.categories.each(function(cate){
                if(cate.length) {
            %>

            <h3 class="archive-separator" id="tag-<%=cate.name %>"><%=cate.name %></h3>

            <div class="waterfall">
            <% cate.posts.each(function(post){  %>

                <%- partial('_partial/archive', {post: post, date_format: config.date_format}) %>
            <% }) %>
            </div>

            <% }
            })
        }
    %>
    <%- partial('_partial/paginator') %>
</div>
